/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/


*{
  background-color: #e7e3da;
  color: #927463;
}
body {
  font-family: var(--font-default);
  color: var(--color-default);
  overflow-x: hidden;
  background-color: #e7e3da;
  color: #927463;
  font-family: 'American Typewriter', 'serif'; 
  /* font-family: "Snell Roundhand", cursive; */
  font-style: italic
  /* font-weight: bolder; */
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: #0a0906;
  text-decoration: none;
}

h1,
h2,
h4,
h5,
h6 {
  /* color: #927463; */
  font-family: var(--font-primary);
  /* font-weight: bold; */
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  padding: 80px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f5f6f7;
}

.section-header {
  text-align: center;
  padding-bottom: 70px;
}

.section-header h2 {
  font-size: 32px;
  font-weight: 700;
  position: relative;
  color: #2e3135;
  width: 100%;
}

.section-header h2:before,
.section-header h2:after {
  content: "";
  width: 50px;
  height: 2px;
  background: var(--color-primary);
  display: inline-block;
}

.section-header h2:before {
  margin: 0 15px 10px 0;
}

.section-header h2:after {
  margin: 0 0 10px 15px;
}

.section-header p {
  margin: 0 auto 0 auto;
}

/*--------------------------------------------------------------
# Social Media Links Section
--------------------------------------------------------------*/

.container {
  text-align: center;
  width: 100%;
  
}
.container-1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  /* background-color:#ffffff; */
  /* background-repeat: no-repeat;
  background-size: cover; */
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;

  /* margin-top: 30px; */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  /* border-bottom: 1px solid #000;  */
  
}
/* h1 {
  color: #333;
} */
.social-icons {
  list-style: none;
  padding: 0;
  margin: 20px auto;
}
.social-icons li {
  display: inline-block;
  margin: 0 10px;
}
.social-icons li a {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  /* color: #fff; */
  text-align: center;
  font-size: 24px;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.social-icons li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/*--------------------------------------------------------------
# Photography Images
--------------------------------------------------------------*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h3 {
  text-align: center;
}

.main-card, .card {
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); 
  border: 5px solid #fff;
}

.main-card img, .card img {
  width: 100%;
  height: auto;
}

/* Flexbox styles */
.row {
  display: flex;
  flex-wrap: wrap;
}

.col-lg-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

#images-section .col-lg-4 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  margin-bottom: 20px;
  padding: 0 10px; 
}

/*--------------------------------------------------------------
# Website
--------------------------------------------------------------*/
.website-container{
  border-bottom: solid 1px;
  border-top: solid 1px;
}



/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info-item {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
  padding: 20px 0 30px 0;
}

.contact .info-item i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  font-size: 24px;
  line-height: 0;
  color: var(--color-primary);
  border-radius: 50%;
  /* border: 2px dotted #ffd565; */
  /* color: #ffd565 ; */
  border: 2px dotted #927463;
  color: #927463 ;
}

.contact .info-item h3 {
  font-size: 20px;
  /* color: #6c757d; */
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-item p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: #927463 ;
}




